#CI项目
name: OWRT-ALL

#CI计划
on:
  #自动编译：当Auto-Clean运行完成后
  workflow_run:
    workflows: ["Auto-Clean"]
    types:
      - completed
  #手动编译
  workflow_dispatch:
    inputs:
      PACKAGE:
        description: '手动调整插件包，多个请用\n符号隔开。'
        required: false
        type: string
      TEST:
        description: '仅输出配置文件，不编译固件。'
        default: 'false'
        required: false
        type: boolean

#CI权限
permissions: write-all

#CI任务
jobs:
  config:
    name: ${{matrix.CONFIG}}
    strategy:
      fail-fast: false
      #max-parallel: 3
      matrix:
        CONFIG: [cudy_tr3000-v1]
        SOURCE: [VIKINGYFY/immortalwrt]
        BRANCH: [owrt]
        # 核心修改：通过 include 为 cudy_tr3000-v1 绑定 AP 标签
        include:
          - CONFIG: cudy_tr3000-v1
            WRT_TAG: AP

    #调用公用编译核心WRT-CORE.yml
    uses: ./.github/workflows/WRT-CORE.yml
    with:
      #编译配置
      WRT_CONFIG: ${{matrix.CONFIG}}
      # 核心修改：将矩阵中的 WRT_TAG 传递给 WRT_PACKAGE 变量
      # 这样 WRT-CORE.yml 就能接收到 "AP" 并将其用于固件重命名
      WRT_PACKAGE: ${{matrix.WRT_TAG}}
      #默认主题
      WRT_THEME: argon
      #默认主机名
      WRT_NAME: OWRT
      #默认WIFI名称
      WRT_SSID: OWRT
      #默认WIFI密码
      WRT_WORD: 12345678
      #默认地址
      WRT_IP: 192.168.10.1
      #默认密码，仅作提示，修改无用
      WRT_PW: 无
      #源码链接
      WRT_REPO: https://github.com/${{matrix.SOURCE}}.git
      #源码分支
      WRT_BRANCH: ${{matrix.BRANCH}}
      #源码名称
      WRT_SOURCE: ${{matrix.SOURCE}}
      #仅输出配置文件
      WRT_TEST: ${{inputs.TEST}}
