#CI项目
name: QCA-ALL

#CI计划
on:
  #自动编译：当Auto-Clean运行完成后
  workflow_run:
    workflows: ["Auto-Clean"]
    types:
      - completed
  #手动编译
  workflow_dispatch:
    inputs:
      PACKAGE:
        description: '手动调整插件包，多个请用\n符号隔开。'
        required: false
        type: string
      TEST:
        description: '仅输出配置文件，不编译固件。'
        default: 'false'
        required: false
        type: boolean

#CI权限
permissions: write-all

#CI任务
jobs:
  config:
    name: ${{matrix.CONFIG}}
    strategy:
      fail-fast: false
      matrix:
        CONFIG: [jdcloud_re-cs-02, jdcloud_re-cs-02_main, aliyun_ap8220]
        SOURCE: [VIKINGYFY/immortalwrt]
        BRANCH: [main]
        # 增加 include 逻辑来区分文件名标签
        include:
          - CONFIG: jdcloud_re-cs-02_main
            WRT_TAG: Main
          - CONFIG: jdcloud_re-cs-02
            WRT_TAG: AP
          - CONFIG: aliyun_ap8220
            WRT_TAG: AP

    #调用公用编译核心WRT-CORE.yml
    uses: ./.github/workflows/WRT-CORE.yml
    with:
      WRT_CONFIG: ${{matrix.CONFIG}}
      # 将标签传递给核心脚本进行重命名
      WRT_PACKAGE: ${{matrix.WRT_TAG}}
      WRT_THEME: argon
      WRT_NAME: OWRT
      WRT_SSID: OWRT
      WRT_WORD: 12345678
      WRT_IP: 192.168.10.1
      WRT_PW: 无
      # 核心修复点：添加 https:// 并使用正确的 ${{ }} 语法引用变量
      WRT_REPO: github.com{{matrix.SOURCE}}.git
      WRT_BRANCH: ${{matrix.BRANCH}}
      WRT_SOURCE: ${{matrix.SOURCE}}
      WRT_TEST: ${{inputs.TEST}}
